# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 影片太大
*.mp4

# Virtual Environment
.venv/
venv/
env/

# 忽略所有子資料夾內的 .venv
**/.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# MkDocs
site/

# macOS
.DS_Store

# Windows
Thumbs.db


